# Server listen address
GTORRENT_LISTEN=:8080

# Mode: unix or http
GTORRENT_MODE=unix

# Unix mode
GTORRENT_UNIX_SOCKET=/path/to/rtorrent.sock

# HTTP mode
GTORRENT_HTTP_URL=http://127.0.0.1/RPC2
GTORRENT_HTTP_USER=
GTORRENT_HTTP_PASS=
